<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="m-2">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut" class="m-2">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="pr-6 hover:text-purple-400" href="Identity/Account/Register">Register</a>
        <a class="pr-6 hover:text-purple-400" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>