@inherits LayoutComponentBase
<div class="header-logo">
    <a href="/">NovoTestApp</a>
</div>
<div class="header-login">
    <LoginDisplay />
</div>
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<footer>
    Testing App 2020
</footer>