<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" id="home">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="counter" id="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata" id="weatherforecast">
            <span class="oi oi-sun" aria-hidden="true"></span> Weather Forecast
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="todo" id="todolist">
            <span class="oi oi-list-rich" aria-hidden="true"></span> To Do List
        </NavLink>
    </li>
</ul>