@page "/"

<h1>Welcome to testing app</h1>
<h4>Please follow user stories to verify usability of page</h4>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col text-left">
            Given I have opened main page<br />
            When I press counter menu element<br />
            Then counter page is oppened<br />
            When I press counter button<br />
            Then counter increment by 3<br />
        </div>
        <div class="col text-left">
            Given I have opened main page<br />
            When I press to do list menu element<br />
            Then to do page is oppened<br />
            When I select checkbox to compleate task<br />
            Then task change it's color from black do lightgray<br />
        </div>
        <div class="col text-left">
            Given I have opened main page<br />
            When I press weather forecast menu element<br />
            Then weather forecast page is oppened<br />
            When I change show items to 5<br />
            And Press Change button<br />
            Then table show 5 rows with data<br />
        </div>
    </div>
</div>