@page "/"

<div class="max-w-2xl rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <p class="text-4xl">Welcome to testing app</p>
    </div>
    <img class="w-full" src="/img/test.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
        <div class="text-xl">Feel free to test this website and find bugs in it!</div>
        <p class="">When you are done, please login as <span class="italic">test@novomatic-tech.com</span> with password <span class="italic">P@ssword123</span> and write some automate tests with our scenarios</p>
    </div>
</div>