@page "/todo"

@using NovoTestApp.Data
@inject ToDoService DoService

<h1>Your tasks for today</h1>

<p>You left with (@todos.Count(todo => !todo.Compleated)) tasks</p>
<ul class="list-group">
    @foreach (var todo in todos)
    {
        <li class="list-group-item">
            <input type="checkbox" @bind="todo.Compleated" />
            <span style="color:@(todo.Compleated ? "inherit" : "lightgray");">@todo.Task</span>
        </li>
    }
</ul>

@code {
    private List<ToDoItem> todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await DoService.GetToDoItems();
    }

    private void CheckItem(ToDoItem todo)
    {
        todos.Find(x => x.Id == todo.Id).Compleated = !todo.Compleated;
        StateHasChanged();
    }
}